@media screen and (max-width: 768px) {
  #wrapper {
    overflow-y: unset !important;
  }
  body.force-wide-design #wrapper {
    padding: 0;
  }
  body.page-forum .threadlistsection .threadblock .threadmain .threadtitle {
    max-height: 500px;
    overflow: hidden;
  }
  /*#wrapper #content .pagnation.threadpagnation.below,
    #wrapper #content .pagnation.postpagnation.below {
    position: sticky;
    bottom: 46px;
    z-index: 3;
    }
    #header {
    top: -32px;
    }*/
  .postblock .postfoot .left {
    overflow: scroll;
    justify-content: baseline;
  }
  .votes {
    overflow-x: scroll;
    display: block;
  }
  .votes .votelist {
    overflow: scroll;
  }
  .postblock .postfoot {
    display: block;
  }
  .postblock .postfoot .right .votebuttons {
    flex-basis: auto;
    flex-shrink: 0;
    display: block;
  }
  .postblock .postfoot .right .votebuttons>span {
    float: left;
  }
  .postblock .postfoot .right .votebuttons .votebutton img {
    width: 25px;
    height: auto;
  }
  .threadreply .ql-container.ql-snow .ql-editor {
    min-height: 200px;
  }
  .postblock .postfoot .right,
  .postblock .postfoot .right>span {
    display: block;
  }
  #wrapper #content .forumcategoryblock .forumcategoryheader {
    position: sticky;
    top: 34px;
    z-index: 3;
  }
  #wrapper #content .forumcategoryblock .forumcategoryblock .forumcategoryheader {
    position: sticky;
    top: 74px;
    z-index: 2;
  }
  body.page-forum .forumblock .forumname .forumsubforums {
    display: block;
    left: -35px;
    width: calc(100vw - 5px);
    position: relative;
  }
  body.page-forum .forumblock .forumlastpost {
    white-space: unset;
  }
  /*:not(#footbar).navbar,
    :not(#footbar).navbar>.container,
    .navbar-brand,
    .navbar-burger {
    min-height: 30px;
    height: 30px;
    }
    :not(#footbar).navbar>.container {
    overflow-x: scroll;
    }
    .navbar-footbar.navbar.is-primary .navbar-brand {
    height: 48px;
    min-height: 48px;
    }*/
  #drawerleft .subforum {
    height: 50px;
  }
  #drawerleft .subforum .checkmark:before {
    font-size: 30px;
  }
  #drawerleft .subforum .checkmark a img {
    height: 40px;
    width: 40px;
  }
  #drawerleft .subforum .checkmark a {
    right: 50px;
    padding-left: 55px;
    font-size: 18px;
  }
  body.page-forum .forumblock .forumname .forumsubforums .subforum a {
    padding: 10px;
    display: block;
    font-size: 14px;
  }
  body.page-forum .forumblock .forumname .forumsubforums .subforum {
    padding: 0;
    display: block;
    float: left;
  }
  body.page-forum .forumblock .forumname .forumsubforums .subforum:after {
    content: "";
  }
  #wrapper #content .forumcategoryblock .forumpanel .forumlastpost .threadname,
  #wrapper #content .forumcategoryblock .forumpanel .forumlastpost .username {
    width: calc(100vw - 10px);
    max-width: 100vw;
    right: 40px;
    position: relative;
  }
  #footbar {
    transform: none;
    position: fixed!important;
  }
  #toolbar .level-left .level-item.is-hidden-mobile {
    display: flex!important;
  }
  #header #toolbar .navbar-item.is-breadcrumb,
  #header #toolbar .navbar-item {
    display: flex!important;
  }
  #header #toolbar .navbar-item.is-active,
  #header #toolbar .level-left span:nth-last-child(2) {
    display: none!important;
  }
  #toolbar {
    overflow-x: scroll;
  }
}
